#!/bin/bash

sudo apt install -y build-essential dkms linux-headers-amd64;
sudo apt-get clean;

wget http://download.virtualbox.org/virtualbox/6.0.4/VBoxGuestAdditions_6.0.4.iso;
sudo mount -o loop VBoxGuestAdditions_6.0.4.iso /media/cdrom;
cp /media/cdrom/VBoxLinuxAdditions.run ./;
sudo umount /media/cdrom;
rm -f VBoxGuestAdditions_6.0.4.iso;
sudo ./VBoxLinuxAdditions.run;
rm -f VBoxLinuxAdditions.run;

rm -f $0;